.article-popup {
  height: 75vh;
}
.add-article-form {
  border: solid 0px blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.add-article-form p {
  margin: 0;
}
.add-article-form textarea {
  resize: none;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-size: 12px;
  padding: 4px;
  padding-left: 8px;
  font-family: "Montserrat";
  border: solid 1px black;
  justify-self: center;
  border-radius: 5px;
}
.article-popup h4 {
  border: solid 0px black;
  margin: 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: rgb(172, 48, 54);
  padding: 10px 0;
  letter-spacing: 0.09em;
  color: white;
}
.form-error {
  padding: 0;
  border: solid 0px green;
  color: rgb(172, 48, 54);
  font-style: italic;
  margin: 3px auto;
  font-weight: 500;
  letter-spacing: 0.06em;
  font-size: 0.7em;
}
.article-popup label {
  text-align: left;
  width: 90%;
  border: solid 0px red;
  margin: 10px auto;
}
.new-article-topic-set {
  font-style: italic;
  letter-spacing: 0.05em;
}
#new-article-user {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 0.05em;
  height: 4%;
}
.article-popup button {
  margin: 20px auto;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border: solid 0px black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15em;
  font-family: "Montserrat";
  background-color: rgb(33, 40, 41);
  width: 20%;
}
.article-popup button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.article-popup select {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 4px;
  height: 6%;
  border-radius: 0px;
  background-color: white;
  width: 93%;
  border: solid 1px black;
  margin: 0 auto;
}
