.ArticleById {
  grid-area: main;
  border: dashed 0px blue;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(33, 40, 41);
}
.article-byid {
  border: solid 0px brown;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr 6fr;
  grid-template-rows: 2fr 1fr 1fr 4fr 1fr;
  align-items: center;
  justify-items: left;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.5em;
}
.article-byid strong {
  font-weight: 600;
  letter-spacing: 0.04em;
}
.articlebyid-title {
  border: solid 0px orange;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  width: 100%;
  margin: 0px;
  justify-self: center;
  text-align: left;
  padding: 5px;
}
.articlebyid-topic {
  border: solid 0px orange;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  margin: 3px;
}
.articlebyid-user {
  border: solid 0px orange;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin: 3px;
}
.article-byid a:link, .article-byid a:visited {
  text-decoration: none;
  color: rgb(33, 40, 41);
}
.article-byid a:hover {
  text-decoration: underline;
}
.articlebyid-user a:link, .article-byid-user a:visited, .articlebyid-topic a:link, .article-byid-topic a:visited {
  text-decoration: none;
}
.articlebyid-user a:hover, .articlebyid-topic a:hover {
  text-decoration: underline;
}
.articlebyid-date {
  border: solid 0px orange;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 0px;
}
.articlebyid-body {
  border: solid 0px orange;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  margin: 0px;
  width: 95%;
  text-align: left;
  justify-self: center;
}
.articlebyid-comments {
  border: solid 0px orange;
  grid-row: 5 / 6;
  grid-column: 1 / 4;
  margin: 0px;
  justify-self: center;
  font-size: 18px;
}
.article-byid .article-votes {
  border: solid 0px orange;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  margin: 0px;
  justify-self: center;
}