.footer {
  grid-area: footer;
  border: solid 0px green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 48, 54);
  color: white;
  padding: 5px;
  letter-spacing: 0.07em;
  font-size: 12px;
}
.footer .footer-northcoders {
  font-weight: 800px;
}