.input-popup form {
  border: solid 0px red;
  padding: 5px;
  text-align: left;
  background-color: rgb(172, 48, 54);
}
.form-error {
  font-size: 12px;
  padding-left: 10px;
}
.input-popup input {
  font-size: 15px;
  padding: 3px;
  padding-left: 6px;
  margin: 6px;
  border: solid 0px black;
  border-radius: 5px;
  font-family: 'Montserrat';
  letter-spacing: 0.05em;
}
.input-popup input::placeholder {
  font-size: 15px;
}
#password {
  font-family: sans-serif;
  letter-spacing: 0.2em;
  text-transform: scale(1.1);
}
.input-popup label {
  border: solid 0px green;
  padding-left: 6px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.03em;
}
.input-popup button {
  border: solid 0px black;
  background-color: rgb(33, 40, 41);
  font-size: 15px;
  border-radius: 5px;
  /* background-color: white; */
  /* color: black; */
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 6px;
  padding: 2px 6px;
}
.input-popup button:hover {
  cursor: pointer;
  transform: scale(1.1);
}