.user-page {
  background-color: rgb(33, 40, 41);
  grid-area: main;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}
.userbyusername-box {
  border: solid 0px red;
  width: 60%;
  align-self: center;
  margin: 10px auto;
  height: 90%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.userbyusername-box img {
  height: 85%;
  max-width: 100%;
  object-fit: cover;
  border: solid 0px pink;
  margin: 10 auto;
  padding: 0px;
}
.userbyusername-box h4 {
  border: solid 0px black;
  margin: 0;
  font-size: 30px;
}
.userbyusername-box a:link, .userbyusername-box a:visited {
  color: black;
}
.userbyusername-box p {
  border: solid 0px blueviolet;
  margin: 5px;
}